.day-cell {
  padding: 0 !important;
}

.employee-cell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 12px !important;
}

.ant-table-tbody .day-cell {
  cursor: pointer;
  text-align: center;
}

.position-cell, .constraint-cell {
  height: 100%;
  padding-top: 2px;
  vertical-align: middle;
}

.position-cell.j {
    background-color: #F8D487;
}

.position-cell.n {
    background-color: #8BA2CD;
}

.constraint-cell.c {
    background-color: #1B263B;
    color: white;
}

.constraint-cell.m {
    background-color: #AECBB8;
}

.constraint-cell.f {
    background-color: #FFBD8E;
}

.constraint-cell.t {
    background-color: #415A77;
}

.constraint-cell.ask {
}

.constraint-cell.ask span {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  aspect-ratio: 1;
  background-color: black;
}

.modal-label {
  font-weight: bold;
  margin-top: 10px;
}

.spin-0 {
  left: 20px;
}

.spin-1 {
    left: 12px;
}
