.ColoredSquareWithText {
    margin-right: 50px;
}

.custom-select {
    background-color: #1B263B; 
    color: white; 
    border: 1px solid #000; 
    width: 150px;
    padding-right: 30px; 
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('./../../Assets/fleche.svg'); 
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 15px;
  }

  .main-content {
    transition: margin-left 0.3s ease;
  }
  
  .sidebar-open .main-content {
    margin-left: 250px; 
  }
  
  .sidebar-closed .main-content {
    margin-left: 60px; 
  }