.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #778da9;
    padding-top: 20px;
  }
  
  .sidebar h2 {
    color: black;
    text-align: center;
  }
  
  .sidebar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    padding-left: 30px; 
  }
  
  .sidebar a:hover {
    background-color: #778da9;
  }
  
  .content {
    /* margin-left: 250px; */
    padding: 20px;
  }

  .sidebar .active {
    font-weight: bold;
    color: #1B263B;
  }

  .sidebar-footer {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
  }

  .toggle-button {
    position: absolute;
    top: 88%; 
    right: 10px;
    transform: translateY(-50%);
    background-color: #778da9; 
    color: white; 
    border: none;
    width: 30px; 
    height: 30px;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .toggle-button:hover {
    background-color: #415a77;
    color: #fff;
  }

  .sidebar.open {
    width: 250px;
  }
  
  .sidebar.closed {
    width: 60px;
  }